<div class="single-product">
  <div class="product-img">
    <a [routerLink]="['/product-details', product._id]" style="height: 200px">
      <img class="default-img" [ngSrc]="product.imagePath" [alt]="product.name" fill priority />
      <img class="hover-img" [ngSrc]="product.hoverImagePath" [alt]="product.name" fill />
      <!-- <span class="new">New</span> -->
    </a>
    <div class="button-head">
      <div class="product-action-2">
        <a title="Add to cart" (click)="addToCart()">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="product-content">
    <h3>
      <a [routerLink]="['/product-details', product._id]">{{ product.name }}</a>
    </h3>
    <div class="product-price">
      @if (product.oldPrice) {
        <span class="old"> ${{ product.oldPrice }} </span>
      }
      <span> ${{ product.price }} </span>
    </div>
  </div>
</div>
