<div class="single-product">
  <div class="product-img" [ngClass]="{ 'out-of-stock': product.outOfStock }">
    <a [routerLink]="['/product-details', product._id]" style="height: 200px">
      <img class="default-img" [src]="imagesUrl + product.imagePath" [alt]="product.name" />
      <img class="hover-img" [src]="imagesUrl + product.hoverImagePath" [alt]="product.name" />
    </a>
    @if (!product.outOfStock) {
      <div class="button-head">
        <div class="product-action-2">
          <a title="Add to cart" (click)="addToCart()">Add to cart</a>
        </div>
      </div>
    }
  </div>
  <div class="product-content">
    <h3>
      <a [routerLink]="['/product-details', product._id]"
        >{{ product.name }}
        @if (product.outOfStock) {
          - Out Of Stock
        }
      </a>
    </h3>
    <div class="product-price">
      @if (product.oldPrice) {
        <span class="old"> ${{ product.oldPrice }} </span>
      }
      <span> ${{ product.price }} </span>
    </div>
  </div>
</div>
