<div class="shop-top">
  <div class="row">
    <label class="col-3 col-md-2 col-form-label col-form-label-sm">Sort By: </label>
    <div class="col-3 col-md-2">
      <select
        class="form-select form-select-sm"
        [(ngModel)]="selectedSortItem"
        (ngModelChange)="onSortFilterChange($event)">
        @for (item of sortItems; track item.value) {
          <option [ngValue]="item">
            {{ item.name }}
          </option>
        }
      </select>
    </div>
  </div>
</div>
