<div class="shop-sidebar">
  <div class="single-widget category">
    <h3 class="title">Categories</h3>
    <ul class="categor-list">
      @for (cat of categories; track cat._id) {
        <li>
          <a [routerLink]="[]" [queryParams]="{ category: cat._id }" queryParamsHandling="merge">{{ cat.name }} </a>
        </li>
      }
    </ul>
  </div>

  <div class="single-widget category">
    <h3 class="title">Brands</h3>
    <ul class="categor-list">
      @for (brand of brands; track brand._id) {
        <li>
          <a [routerLink]="[]" [queryParams]="{ brand: brand._id }" queryParamsHandling="merge">
            {{ brand.name }}
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="single-widget range">
    <button type="button" class="btn animate" (click)="clearFilter()">Clear Filter</button>
  </div>
</div>
