<app-breadcrumbs [routeName]="product?.name || ''"></app-breadcrumbs>

<section class="blog-single section">
  <div class="container">
    @defer (when product) {
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="blog-single-main">
            @if (product) {
              <div class="row">
                <div class="col-12">
                  <div class="image" style="height: 500px">
                    <img [ngSrc]="product.mainImagePath" [alt]="product.name" fill />
                  </div>

                  <div class="blog-detail">
                    <h2 class="blog-title">{{ product.name }}</h2>

                    <div class="blog-meta">
                      <span class="author">
                        <a>
                          <i class="pi pi-calendar"></i>
                          {{ product.createdAt | date }}
                        </a>
                      </span>
                    </div>

                    <div class="content">
                      <p>
                        {{ product.description }}
                      </p>
                      @if (product.colors) {
                        <div>
                          <div class="colors-container">
                            <div>Color:</div>
                            @for (color of product.colors; track color) {
                              <div
                                class="color-picker"
                                [ngStyle]="{ backgroundColor: color.code }"
                                [ngClass]="{ selected: selectedColor() === color }"
                                (click)="selectedColor.set(color)"></div>
                            }
                          </div>
                        </div>
                      }
                      <p>
                        <button class="btn animate" [disabled]="product.outOfStock" (click)="addToCart()">
                          @if (product.outOfStock) {
                            OUT OF STOCK
                          } @else {
                            ADD TO CART
                          }
                        </button>
                      </p>
                    </div>
                  </div>

                  <app-product-details-social-links></app-product-details-social-links>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <app-product-details-sidebar></app-product-details-sidebar>
        </div>
      </div>
    }
  </div>
</section>
