<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="top-left">
          <ul class="list-main">
            <!-- <li><fa-icon [icon]="faHeadphones"></fa-icon> +060 (800) 801-582</li> -->
            <li>
              <a href="mailto:kitchinette.lb@hotmail.com">
                <i class="pi pi-envelope"></i>kitchinette.lb&#64;hotmail.com
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-8 col-md-12 col-12">
        <div class="right-content">
          <ul class="list-main">
            <li>
              <a href="https://wa.me/96179104623" target="_blank">
                <i class="pi pi-whatsapp"></i>
                Whatsapp
              </a>
            </li>
            <!-- <li><fa-icon [icon]="faUser"></fa-icon> <a href="#">My account</a></li> -->
            <!-- <li><fa-icon [icon]="faPowerOff"></fa-icon> <a href="#">Login</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
