<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories; track category.id) {
        <tr>
          <th scope="row">{{ category.id }}</th>
          <td>{{ category.name }}</td>
          <td>
            <a [routerLink]="[category.id]" [relativeTo]="activatedRoute">
              <i class="pi pi-pencil"></i>
            </a>
            <a [routerLink]="[]" (click)="deleteCategory(category)">
              <i class="pi pi-trash"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn" [routerLink]="[0]" [relativeTo]="activatedRoute">Add</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
