<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="single-footer about">
            <div class="logo">
              <a routerLink="/"><img src="assets/logo.png" width="100" alt="LOGO" height="100" /></a>
            </div>
            <p class="text">
              At Kitchinette, we believe that a great kitchen is the heart of a great home. We’re passionate about
              curating the latest and most innovative kitchen essentials that combine style, functionality, and quality.
              Whether you’re a seasoned chef or a beginner, our carefully selected products are designed to make your
              cooking experience easier and more enjoyable. From time-saving tools to sleek, must-have gadgets,
              Kitchinette brings you the best to help you create your dream kitchen.
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer social">
            <h4>Get In Touch</h4>
            <div class="contact">
              <ul>
                <li>Lebanon</li>
                <li>
                  <a href="mailto:kitchinette.lb@hotmail.com">kitchinette.lb&#64;hotmail.com</a>
                </li>
                <li><a href="tel:+96179104623">+961 79 104 623</a></li>
              </ul>
            </div>
            <ul>
              <li>
                <a href="https://www.facebook.com/people/kitchinettelb/61556978465363/" target="_blank">
                  <i class="pi pi-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/kitchinette.lb/" target="_blank"><i class="pi pi-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.tiktok.com/@kitchinette.lb" target="_blank"><i class="pi pi-tiktok"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2022 - All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
