<section class="section">
  <div class="container justify-content-center align-items-center" style="text-align: center">
    <div class="row">
      <div class="col-6 col-md-3 p-4">
        <div><i class="pi pi-verified"></i></div>
        <h6>Full Refund</h6>
        <p>We provide full refund, no questions asked</p>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div><i class="pi pi-tags"></i></div>
        <h6>Premium quality</h6>
        <p>All our products are qualified for you satisfaction</p>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div><i class="pi pi-heart-fill"></i></div>
        <h6>100% Satisfaction</h6>
        <p>You will only leave satistied with us</p>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div><i class="pi pi-dollar"></i></div>
        <h6>Cash On Delivery</h6>
        <p>You pay only when your order arrives</p>
      </div>
    </div>
  </div>
</section>
