<div class="header-inner">
  <div class="container">
    <div class="cat-nav-head">
      <div class="row">
        <div class="col-12">
          <div class="menu-area">
            <nav class="navbar navbar-expand-lg">
              <div class="navbar-collapse">
                <div class="nav-inner">
                  <ul class="nav main-menu menu navbar-nav">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      <a routerLink="/">Home</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      <a routerLink="/product-list">Products</a>
                    </li>
                    <li routerLinkActive="active">
                      <a>
                        Categories
                        <i class="pi pi-angle-down"></i>
                      </a>
                      <ul class="dropdown">
                        @for (item of categories; track item._id) {
                          <li>
                            <a routerLink="/product-list" [queryParams]="{ category: item._id }">
                              {{ item.name }}
                            </a>
                          </li>
                        }
                      </ul>
                    </li>
                    <li routerLinkActive="active">
                      <a routerLink="/contact-us">Contact Us</a>
                    </li>
                    @if (isAdminUser) {
                      <li routerLinkActive="active">
                        <a routerLink="/admin-dashboard">Admin Page</a>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
