<app-breadcrumbs routeName="Products List"></app-breadcrumbs>

<section class="product-area shop-sidebar shop section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <app-product-list-sidebar></app-product-list-sidebar>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <app-product-list-topbar (sortChange)="onSortChange($event)"></app-product-list-topbar>
          </div>
        </div>
        <div class="row">
          @for (product of productListPage; track product._id) {
            <div class="col-lg-4 col-md-6 col-12">
              <app-product-card [product]="product"></app-product-card>
            </div>
          }
        </div>
        <div class="row">
          <ul class="pagination" style="display: flex">
            <li class="page-item"><a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a></li>
            @for (pageNumber of pageNumbers; track pageNumber) {
              <li class="page-item">
                <a class="page-link" (click)="onPageChange(pageNumber)">{{ pageNumber + 1 }}</a>
              </li>
            }
            <li class="page-item"><a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
