<form class="form" [formGroup]="form">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="form-group">
        <label>Your Name<span>*</span></label>
        <input formControlName="name" name="name" type="text" placeholder="" />
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-group">
        <label>Your Subject<span>*</span></label>
        <input formControlName="subject" name="subject" type="text" placeholder="" />
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-group">
        <label>Your Email<span>*</span></label>
        <input formControlName="email" name="email" type="email" placeholder="" />
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-group">
        <label>Your Phone<span>*</span></label>
        <input formControlName="phone" name="company_name" type="text" placeholder="" />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group message">
        <label>Your message<span>*</span></label>
        <textarea formControlName="message" name="message" placeholder=""></textarea>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group button">
        <button type="button" class="btn" (click)="onSubmit()">Send Message</button>
      </div>
    </div>
  </div>
</form>
