<table class="table shopping-summery">
  <thead>
    <tr class="main-hading">
      <th>PRODUCT</th>
      <th>NAME</th>
      <th class="text-center">UNIT PRICE</th>
      <th class="text-center">QUANTITY</th>
      <th class="text-center">TOTAL</th>
      <th class="text-center">
        <i class="pi pi-trash"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (item of cartItems; track item) {
      <tr>
        <td class="image" data-title="No">
          <img [ngSrc]="item.product.imagePath" [alt]="item.product.name" fill />
        </td>
        <td class="product-des" data-title="Description">
          <p class="product-name">
            <a [routerLink]="['product-details', item.product._id]">
              {{ item.product.name }}
            </a>
          </p>
        </td>
        <td class="price" data-title="Price">
          <span>${{ item.product.price }} </span>
        </td>
        <td class="qty" data-title="Qty">
          <div class="input-group">
            <input
              type="number"
              class="input-number"
              min="1"
              max="255"
              [(ngModel)]="item.quantity"
              (ngModelChange)="onQuantityChanged($event, $index)" />
          </div>
        </td>
        <td class="total-amount" data-title="Total">
          <span>${{ item.product.price * item.quantity }}</span>
        </td>
        <td class="action" data-title="Remove">
          <a (click)="removeItem(item)">
            <i class="pi pi-trash"> </i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
